<!DOCTYPE html>
<html>
  <head>
    <title>古树古建筑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/static/index/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/files/古树古建筑/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePre.js"></script>
    <script src="__PUBLIC__/static/index/data/document.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePost.js"></script>
    <script src="__PUBLIC__/static/index/files/古树古建筑/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '__PUBLIC__/static/index/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '__PUBLIC__/static/index/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '__PUBLIC__/static/index/resources/reload.html'; };
    </script>
    <style>a{ text-decoration:none}</style>
  </head>
  <body>
    <div id="base" class="">
      <!-- Unnamed (动态面板) -->
      <div id="u144" class="ax_default">
        <div id="u144_state0" class="panel_state" data-label="State1" style="">
          <div id="u144_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u145" class="ax_default image1">
        <img id="u145_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u145.png"/>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u146" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <div id="u146_state0" class="panel_state" data-label="State1" style="">
          <div id="u146_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u147" class="ax_default image1">
              <img id="u147_img" class="img " src="__PUBLIC__/static/index/images/首页/u20.png"/>
            </div>
          </div>
        </div>
      </div>

      <!-- 1 (矩形) -->
      <div id="u148" class="ax_default box_2 selected" data-label="1">
        <div id="u148_div" class="selected"></div>
        <div id="u148_text" class="text ">
          <p><span>老西湖十景</span></p>
        </div>
      </div>

      <!-- 2 (矩形) -->
      <div id="u149" class="ax_default box_2" data-label="2">
        <div id="u149_div" class=""></div>
        <div id="u149_text" class="text ">
          <p><span>新西湖十景</span></p>
        </div>
      </div>

      <!-- 3 (矩形) -->
      <div id="u150" class="ax_default box_2" data-label="3">
        <div id="u150_div" class=""></div>
        <div id="u150_text" class="text ">
          <p><span>故居</span></p>
        </div>
      </div>

      <!-- 4 (矩形) -->
      <div id="u151" class="ax_default box_2" data-label="4">
        <div id="u151_div" class=""></div>
        <div id="u151_text" class="text ">
          <p><span>古树</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u152" class="ax_default">
        <div id="u152_state0" class="panel_state" data-label="State1" style="">
          <div id="u152_state0_content" class="panel_state_content">

            <!-- 1 (矩形) -->
            <div id="u153" class="ax_default box_2 selected" data-label="1">
              <div id="u153_div" class="selected"></div>
              <div id="u153_text" class="text ">
                <p><span>断桥残雪</span></p>
              </div>
            </div>

            <!-- 2 (矩形) -->
            <div id="u154" class="ax_default box_2" data-label="2">
              <div id="u154_div" class=""></div>
              <div id="u154_text" class="text ">
                <p><span>花港观鱼</span></p>
              </div>
            </div>

            <!-- 3 (矩形) -->
            <div id="u155" class="ax_default box_2" data-label="3">
              <div id="u155_div" class=""></div>
              <div id="u155_text" class="text ">
                <p><span>雷峰夕照</span></p>
              </div>
            </div>

            <!-- 4 (矩形) -->
            <div id="u156" class="ax_default box_2" data-label="4">
              <div id="u156_div" class=""></div>
              <div id="u156_text" class="text ">
                <p><span>曲院风荷</span></p>
              </div>
            </div>

            <!-- 5 (矩形) -->
            <div id="u157" class="ax_default box_2" data-label="5">
              <div id="u157_div" class=""></div>
              <div id="u157_text" class="text ">
                <p><span>苏堤春晓</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u152_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u152_state1_content" class="panel_state_content">

            <!-- 6 (矩形) -->
            <div id="u158" class="ax_default box_2 selected" data-label="6">
              <div id="u158_div" class="selected"></div>
              <div id="u158_text" class="text ">
                <p><span>吴山天风</span></p>
              </div>
            </div>

            <!-- 7 (矩形) -->
            <div id="u159" class="ax_default box_2" data-label="7">
              <div id="u159_div" class=""></div>
              <div id="u159_text" class="text ">
                <p><span>云栖竹径</span></p>
              </div>
            </div>

            <!-- 8 (矩形) -->
            <div id="u160" class="ax_default box_2" data-label="8">
              <div id="u160_div" class=""></div>
              <div id="u160_text" class="text ">
                <p><span>九溪烟树</span></p>
              </div>
            </div>

            <!-- 9 (矩形) -->
            <div id="u161" class="ax_default box_2" data-label="9">
              <div id="u161_div" class=""></div>
              <div id="u161_text" class="text ">
                <p><span>虎跑梦泉</span></p>
              </div>
            </div>

            <!-- 10 (矩形) -->
            <div id="u162" class="ax_default box_2" data-label="10">
              <div id="u162_div" class=""></div>
              <div id="u162_text" class="text ">
                <p><span>宝石流霞</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u152_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u152_state2_content" class="panel_state_content">

            <!-- 11 (矩形) -->
            <div id="u163" class="ax_default box_2 selected" data-label="11">
              <div id="u163_div" class="selected"></div>
              <div id="u163_text" class="text ">
                <p><span>胡雪岩故居</span></p>
              </div>
            </div>

            <!-- 12 (矩形) -->
            <div id="u164" class="ax_default box_2" data-label="12">
              <div id="u164_div" class=""></div>
              <div id="u164_text" class="text ">
                <p><span>于谦故居</span></p>
              </div>
            </div>

            <!-- 13 (矩形) -->
            <div id="u165" class="ax_default box_2" data-label="13">
              <div id="u165_div" class=""></div>
              <div id="u165_text" class="text ">
                <p><span>章太炎故居</span></p>
              </div>
            </div>

            <!-- 14 (矩形) -->
            <div id="u166" class="ax_default box_2" data-label="14">
              <div id="u166_div" class=""></div>
              <div id="u166_text" class="text ">
                <p><span>龚自珍故居</span></p>
              </div>
            </div>

            <!-- 15 (矩形) -->
            <div id="u167" class="ax_default box_2" data-label="15">
              <div id="u167_div" class=""></div>
              <div id="u167_text" class="text ">
                <p><span>夏衍故居</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u152_state3" class="panel_state" data-label="State4" style="visibility: hidden;">
          <div id="u152_state3_content" class="panel_state_content">

            <!-- 16 (矩形) -->
            <div id="u168" class="ax_default box_2 selected" data-label="16">
              <div id="u168_div" class="selected"></div>
              <div id="u168_text" class="text ">
                <p><span>桐庐罗汉松</span></p>
              </div>
            </div>

            <!-- 17 (矩形) -->
            <div id="u169" class="ax_default box_2" data-label="17">
              <div id="u169_div" class=""></div>
              <div id="u169_text" class="text ">
                <p><span>富阳银杏</span></p>
              </div>
            </div>

            <!-- 18 (矩形) -->
            <div id="u170" class="ax_default box_2" data-label="18">
              <div id="u170_div" class=""></div>
              <div id="u170_text" class="text ">
                <p><span>西湖风景区吴山油麻藤</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u171" class="ax_default">
        <div id="u171_state0" class="panel_state" data-label="State1" style="">
          <div id="u171_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u172" class="ax_default _文本段落">
              <div id="u172_div" class=""></div>
              <div id="u172_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 位于在西湖北部白堤东端的断桥一带， 范围约2.61公顷。尤以冬天观赏西湖雪景为胜。当西湖雪后初晴时，日出映照，断桥向阳的半边桥面上积雪融化、露出褐色的桥面一痕，仿佛长长的白链到此中断了， 呈“雪残桥断”之景。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u173" class="ax_default _文本段落">
              <div id="u173_div" class=""></div>
              <div id="u173_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 位于白堤东端的断桥上视域开阔，是完整观赏西湖南、北水域景观的最佳地点。因中国家喻户晓的民间爱情故事《白蛇传》的主人公白娘子与许仙相识于此，断桥成为拥有爱情象征意义的、最富盛名的桥。因白堤一直保持了沿堤两侧间株桃柳的植被特色，春日里桃红柳绿，游人如织。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u174" class="ax_default image1">
              <img id="u174_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u174.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u175" class="ax_default image1">
              <img id="u175_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u175.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u171_state1_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u176" class="ax_default image1">
              <img id="u176_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u176.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u177" class="ax_default image1">
              <img id="u177_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u177.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u178" class="ax_default _文本段落">
              <div id="u178_div" class=""></div>
              <div id="u178_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 花港观鱼地处苏堤的南段西侧。是承佛光紫气而幽静的植物园林。花溪蓄卢园.花港前依接山势葱茏的南屏山，西靠层峦叠翠的西山，平静如镜的小南湖和西里湖，如青玉分列左右。而公园就在在西里湖与小南湖之间的半岛上面。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u179" class="ax_default _文本段落">
              <div id="u179_div" class=""></div>
              <div id="u179_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 花港观鱼是由花、港、鱼为特色的风景点。西湖十景之一。地处苏堤南段西侧。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp;&nbsp; 1964年二期扩建工程告竣后，占地面积达20公顷。全园分为红鱼池、牡丹园、花港、大草坪、密林地五个景区。与雷峰塔、净慈寺隔苏堤相望。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp;&nbsp; 红鱼池位于园中部偏南处，是全园游赏的中心区域。池岸曲折自然，池中堆土成岛，池上架设曲桥，倚桥栏俯看，数千尾金鳞红鱼结队往来，泼刺戏水。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u171_state2_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u180" class="ax_default image1">
              <img id="u180_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u180.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u181" class="ax_default image1">
              <img id="u181_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u181.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u182" class="ax_default _文本段落">
              <div id="u182_div" class=""></div>
              <div id="u182_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 雷峰夕照，位于浙江省杭州市西湖湖南、净慈寺前的夕照山上，西湖十景之七，因晚霞镀塔，佛光普照而闻名 。雷峰塔建于五代（975），是吴越国王钱弘俶为庆祝黄妃得子而建，初名黄妃塔。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 雷峰塔之所以远近闻名，与民间传说《白蛇传》有很大的关系。相传，法海和尚曾将白娘子镇压在塔下，并咒语：‘若要雷峰塔倒，除非西湖水干。’</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u183" class="ax_default _文本段落">
              <div id="u183_div" class=""></div>
              <div id="u183_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 该景观的最重要建筑要素为雷峰塔，始建于吴越国时期(977年)，民国(1924年)塔毁后以遗址形式保存，曾与保俶塔形成西湖南北两岸的对景，佐证了佛教文化的兴盛对西湖景观的直接影响。雷峰塔还因中国四大民间爱情故事之一的《白蛇传》而成为爱情坚贞的象征，赋予了西湖景观丰富的历史内涵。2002年，为使遗址不再被风雨剥蚀，按原塔形式建造了覆罩于遗址之上的保护性塔，兼顾恢复了古塔本身及与保俶塔的对景景观。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state3" class="panel_state" data-label="State4" style="visibility: hidden;">
          <div id="u171_state3_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u184" class="ax_default image1">
              <img id="u184_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u184.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u185" class="ax_default image1">
              <img id="u185_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u185.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u186" class="ax_default _文本段落">
              <div id="u186_div" class=""></div>
              <div id="u186_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 位于西湖北岸的苏堤北端西侧22米处，范围约0.06公顷，以夏日观荷为主题，在视觉上呈现出“接天莲叶无穷碧，映日荷花别样红”的特色。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 曲院，原为南宋(1127－1279)设在洪春桥的酿造官酒的作坊，取金沙涧之水以酿官酒。因该处多荷花，每当夏日荷花盛开、香风徐来，荷香与酒香四处飘溢，有“暖风熏得游人醉”的意境。</span></p><p><span><br></span></p><p><span>曲院风荷位于西湖西侧，岳飞庙前面。南宋时，此有一座官家酿酒的作坊，取金沙涧的溪水造曲酒，闻名国内。附近的池塘种有菱荷，每当夏日风起，酒香荷香沁人心脾，因名“曲院风荷”。总占地面积12.65万平方米，总建筑面积268000万平米。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state4" class="panel_state" data-label="State5" style="visibility: hidden;">
          <div id="u171_state4_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u187" class="ax_default image1">
              <img id="u187_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u187.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u188" class="ax_default image1">
              <img id="u188_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u188.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u189" class="ax_default _文本段落">
              <div id="u189_div" class=""></div>
              <div id="u189_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 位于西湖的西部水域， 西距湖西岸约500米， 范围约9.66公顷。北宋元祐五年(1090年) ，著名文人苏轼用疏浚西湖时挖出的湖泥堆筑了一条南北走向的长堤。堤上建有六桥，自南向北依次命名为映波桥、锁澜桥、望山桥、压堤桥、东浦桥和跨虹桥。后人为纪念苏轼，将此堤命名为“苏堤”。苏堤是跨湖连通南北两岸的唯一通道，穿越了整个西湖水域，因此，在苏堤上具备最为完整的视域范围，是观赏全湖景观的最佳地带。在压堤桥南御碑亭处驻足，如图画般展开的湖山胜景尽收眼底。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u190" class="ax_default _文本段落">
              <div id="u190_div" class=""></div>
              <div id="u190_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 苏堤自北宋始建至今，一直保持了沿堤两侧相间种植桃树和垂柳的植物景观特色。春季拂晓是欣赏“苏堤春晓”的最佳时间，此时薄雾蒙蒙，垂柳初绿、桃花盛开，尽显西湖旖旎的柔美气质。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state5" class="panel_state" data-label="State6" style="visibility: hidden;">
          <div id="u171_state5_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u191" class="ax_default image1">
              <img id="u191_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u191.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u192" class="ax_default image1">
              <img id="u192_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u192.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u193" class="ax_default _文本段落">
              <div id="u193_div" class=""></div>
              <div id="u193_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 位于西湖东南面，高94米，景秀、石奇、泉清、洞美。山上有城隍阁，秀出云表，巍然壮观。山道旁，有一组形态各异的岩石，因其酷似十二生肖而被称为“十二生肖石”。吴山山顶建有“江湖汇观亭”，站在亭中，钱塘江和西湖全景一览无余。在亭侧通往云居山大道上留有山茅观遗址，遗址旁留有南宋理学家朱熹的手书：吴山第一峰。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u194" class="ax_default _文本段落">
              <div id="u194_div" class=""></div>
              <div id="u194_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 春秋时期，吴国的南界由紫阳、云居、金地、清平、宝莲、七宝、石佛、宝月、骆驼、峨眉等十几个山头形成西南―东北走向的弧形丘冈，总称吴山。吴山不高，但由于插入市区其东、北、西北多俯临街市巷陌，南面可远眺钱塘江及两岸平畴，上吴山仍有凌空超越之感，且可尽揽杭州江、山、湖、城之胜。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state6" class="panel_state" data-label="State7" style="visibility: hidden;">
          <div id="u171_state6_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u195" class="ax_default _文本段落">
              <div id="u195_div" class=""></div>
              <div id="u195_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 云栖竹径，新西湖十景之九。早在清代雍正时，“云栖梵径”就被列入了当时的“西湖十八景”。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 云栖“竹径”景观是指云栖坞里林木茂盛的山坞景观：深山古寺，竹径磬声。 今天的云栖坞，翠竹成荫，溪流叮咚，清凉无比。小径蜿蜒深入，潺潺清溪依径而下，娇婉动听的鸟声自林中传出，环境幽静清凉。 </span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u196" class="ax_default _文本段落">
              <div id="u196_div" class=""></div>
              <div id="u196_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 康熙皇帝曾四到云栖，赋诗题额，并赐一株大竹名为“皇竹”，浙江地方官为此建“御书亭”、“皇竹亭”以记盛事。相隔43年后，乾隆皇帝南巡至杭，又六到云栖。清末以后，云栖竹林屡遭破坏，不复旧观。抗日战争杭州沦陷期间，竹林更遭滥伐，几近灭绝。1950年后，在杭州市园林部门护理下，竹林逐步复壮，整修寺宇，开辟茶室。今天的云栖竹径，翠竹成荫，溪流叮咚，清凉无比。小径蜿蜒深入，潺潺清溪依径而下，娇婉动听的鸟声自林中传出，整个环境幽静清凉。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u197" class="ax_default image1">
              <img id="u197_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u197.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u198" class="ax_default image1">
              <img id="u198_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u198.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state7" class="panel_state" data-label="State8" style="visibility: hidden;">
          <div id="u171_state7_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u199" class="ax_default _文本段落">
              <div id="u199_div" class=""></div>
              <div id="u199_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 1947年，著名地质学家李四光两次到九溪作冰川考察，发现古代冰川遗迹，认为距今二三百万年前第四纪时，杭州西湖尚为一片冰雪世界，当时下龙井是一处储水盘谷，承受大量冰雪，经九溪十八涧东南流出，形成九溪十八涧峻险地段。民国期间，九溪十八涧一带有二、三私家茶庄，卖茶水并供应西湖藕粉、桂花糖等。茶庄所备桌椅不多，春秋佳日，游客以涧边石块权充桌椅。1975年以后，园林部门分4期改造和新建九溪菜馆、茶室、接待室；整理山林环境，疏浚泉池，筑水坝，架画桥，布蹬道，造亭子，扩大游览面积。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u200" class="ax_default _文本段落">
              <div id="u200_div" class=""></div>
              <div id="u200_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 九溪，俗称“九溪十八涧”，十八涧系指细流之多。位于西湖西边鸡冠垅下。源发翁家山杨梅岭下，途汇清湾、宏法、唐家、小康、佛石、百丈、云栖、清头和方家九溪，曲折隐忽，流入钱江。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u201" class="ax_default image1">
              <img id="u201_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u201.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u202" class="ax_default image1">
              <img id="u202_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u202.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state8" class="panel_state" data-label="State9" style="visibility: hidden;">
          <div id="u171_state8_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u203" class="ax_default _文本段落">
              <div id="u203_div" class=""></div>
              <div id="u203_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 位于大慈山下的虎跑泉，是西湖众多名泉中的翘楚。虎跑泉的得名，始于“南岳童子泉，当遣二虎移来”的佛教神话传说。传说唐代高僧性空曾住在虎跑泉所在的大慈山谷，见此处风景优美，欲在此建寺，却苦于无水。一天，他梦见二虎跑地，清泉涌出。次日醒来，果然发现甘泉，此泉即被命名为“虎跑泉”。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u204" class="ax_default _文本段落">
              <div id="u204_div" class=""></div>
              <div id="u204_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 虎跑泉在地质学上属裂隙泉，水源旺盛，水质优良，其形成与当地得天独厚的自然条件有关。虎跑泉与龙井、玉泉、郭婆井、吴山大井，并称杭州五大“圣水”。更因虎跑泉水质特别纯净，世人将虎跑泉与龙井茶叶誉为“西湖双绝”。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u205" class="ax_default image1">
              <img id="u205_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u205.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u206" class="ax_default image1">
              <img id="u206_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u206.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state9" class="panel_state" data-label="State10" style="visibility: hidden;">
          <div id="u171_state9_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u207" class="ax_default _文本段落">
              <div id="u207_div" class=""></div>
              <div id="u207_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 宝石山为西湖北岸屏障。这里的山岩呈赭红色，岩体中有许多闪闪发亮的红色小石子，每当阳光映照，满山流韦纷披，尤其是朝阳或落日红光洒沐之时，分外耀目，仿佛数不清的宝石在熠熠生辉。宝石山正因此而得名。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u208" class="ax_default _文本段落">
              <div id="u208_div" class=""></div>
              <div id="u208_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 宝石山东巅，保俶塔巍然挺秀。原为九级砖木结构，现在的砖砌实心式样，是1933年重建时仿自清代原样，虽不能登临了，却以其漂亮的“容颜”和所处的显要位置而成为引人瞩目的西湖胜景标志物。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u209" class="ax_default image1">
              <img id="u209_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u181.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u210" class="ax_default image1">
              <img id="u210_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u210.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state10" class="panel_state" data-label="State11" style="visibility: hidden;">
          <div id="u171_state10_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u211" class="ax_default _文本段落">
              <div id="u211_div" class=""></div>
              <div id="u211_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 雪岩故居，位于杭州市河坊街、大井巷历史文化保护区东部的元宝街，建于清同治十一年（1872年），正值胡雪岩事业的颠峰时期。当时豪宅工程历时3年，于1875年竣工。落成的故居是一座富有中国传统建筑特色又颇具西方建筑风格的美轮美奂的宅第，整个建筑南北长东西宽，占地面积10.8亩，建筑面积5815平方米。故居无论是从建筑还是从室内家具的陈设，用料之考究，都堪称清末中国巨商第一豪宅。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u212" class="ax_default image1">
              <img id="u212_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u212.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u213" class="ax_default _文本段落">
              <div id="u213_div" class=""></div>
              <div id="u213_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 清末中国巨商第一豪宅</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 胡雪岩故居，位于杭州市河坊街、大井巷历史文化保护区东部的元宝街，建于清同治十一年（1872年）胡雪岩事业的颠峰时期，当时豪宅工程历时3年，于1875年竣工。落成的故居是一座富有中国传统建筑特色又颇具西方建筑风格的美轮美奂的宅第，整个建筑南北长东西宽，占地面积10.8亩，建筑面积5815平方米。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u214" class="ax_default image1">
              <img id="u214_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u214.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state11" class="panel_state" data-label="State12" style="visibility: hidden;">
          <div id="u171_state11_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u215" class="ax_default _文本段落">
              <div id="u215_div" class=""></div>
              <div id="u215_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 于谦故居位于清河坊祠堂巷42号，距离西湖仅一公里。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 故居一进有井一口，一面靠墙，三面由石栏杆围住。当年于谦在这里汲水，井圈内壁绳痕还在。井边有一间十余平方米的起居室，于谦在这里起居，在井边洗漱后开始一天的晨读。主建筑“忠肃堂”，原是故居的厅堂，陈设简单，一眼望得到底，一如于谦清白的一生。“忠肃堂”门廊的一副对联：“吟石灰、赞石灰，一生清白胜石灰；重社稷、保社稷，百代罄击意社稷”。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp;&nbsp; 忠肃堂后面是个小园，一池方塘，两个小亭，静穆得仿佛能听到池中的天光云影。一碑、一井、一室、一堂、一池、两小亭，一眼尽收。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u216" class="ax_default _文本段落">
              <div id="u216_div" class=""></div>
              <div id="u216_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 《石灰吟》</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 于谦故居位于浙江省杭州市上城区清河坊祠堂巷42号。明成化二年（公元1466年），于谦案昭雪，故宅改建为怜忠祠，以资纪念。现故居已照原貌修缮一新，陈列于谦生平事迹，尚留旗杆石、造像碑等遗物。故居免费向公众开放。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u217" class="ax_default image1">
              <img id="u217_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u217.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u218" class="ax_default image1">
              <img id="u218_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u218.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state12" class="panel_state" data-label="State13" style="visibility: hidden;">
          <div id="u171_state12_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u219" class="ax_default _文本段落">
              <div id="u219_div" class=""></div>
              <div id="u219_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 在举世闻名的京杭大运河的南端，余杭仓前的塘河畔，曾经诞生过一位中国近代民主主义革命家、思想家和国学大师章太炎。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 章太炎故居本体建筑面积811平方米，坐北朝南，共四进一弄，由轿厅、正厅、内堂、书房、避弄等组成，为晚清时期建筑。先生在此出生成长，并度过了对其一生产生重要影响的二十二个春秋。故居前三进为历史场景的再现，展示了太炎先生青少年时期故居的风貌；第四进辟为展厅，以多种传统与现代相结合的手法展现了太炎先生波澜壮阔的一生。故居匾额由赵朴初先生题写。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u220" class="ax_default _文本段落">
              <div id="u220_div" class=""></div>
              <div id="u220_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 全国重点文物保护单位</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 章太炎故居，建于明末清初，属中式宅院，位于浙江省杭州市余杭仓前老街。章太炎（1869-1936）余杭人，民主革命家、思想家、国学大师，与蔡元培等合作发起光复会，主编同盟会机关报《民报》，任孙中山总统府枢密顾问等，鲁迅、黄侃等都是他的弟子。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u221" class="ax_default image1">
              <img id="u221_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u221.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u222" class="ax_default image1">
              <img id="u222_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u222.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state13" class="panel_state" data-label="State14" style="visibility: hidden;">
          <div id="u171_state13_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u223" class="ax_default _文本段落">
              <div id="u223_div" class=""></div>
              <div id="u223_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 龚自珍(1792—1841)，浙江仁和(今杭州)人。以诗文见长，自成一家，有“龚派”之称。1839年辞官归家。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp;&nbsp; 龚自珍是我国近代进步思想家、著名诗人、文学家。他博学多才，关心国家民族的前途和命运，全力支持林则徐禁烟，写过不少批判和揭露封建社会黑暗现实的政论文章。龚自珍的宅院前面是住宅，后面有花园。1831年他将这所宅院卖给广东番禺县人潘仕成，潘后赠与同乡会，遂成为番禺会馆。现为重点文物保护单位。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u224" class="ax_default _文本段落">
              <div id="u224_div" class=""></div>
              <div id="u224_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 《己亥杂诗》</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 龚自珍故居：位于宣武门外上斜街50号，晚清思想家、史学家龚自珍在此住过5年，离开时将这座宅院卖给广东番禺人潘仕成，潘将其赠给番禺在京同乡会，院子被改为广东番禺会馆。</span></p><p><span><br></span></p><p><span><br></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u225" class="ax_default image1">
              <img id="u225_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u225.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u226" class="ax_default image1">
              <img id="u226_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u226.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state14" class="panel_state" data-label="State15" style="visibility: hidden;">
          <div id="u171_state14_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u227" class="ax_default _文本段落">
              <div id="u227_div" class=""></div>
              <div id="u227_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 夏衍旧居是杰出的革命文艺家，我国进步电影的先驱者夏衍的出生地，其建筑风格以粉墙黛瓦，清末民初的民居特点为主，按照夏衍自传体小说《懒寻旧梦录》所描述的当时老宅格局，设置了展厅、八咏堂、卧室、蚕房、私塾等，占地面积1000平方米，建筑面积467平方米。展厅内依照早年奋斗、左翼文艺、在新闻电影戏剧战线上、在文化电影事业的领导岗位上、在社会主义新时期、夏衍电影作品系列这六个部分为主线，以电影胶片为表现形式，展出大量图片及实物，展现了一位文学巨匠、革命文艺家的成长历程和光辉一生。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u228" class="ax_default _文本段落">
              <div id="u228_div" class=""></div>
              <div id="u228_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 中国进步电影的开拓者</span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 夏衍故居建于清末民初，属中式平房，位于杭州庆春门外严家弄。著名作家夏衍曾居住于此。现为陈列室，是杭州市文物保护单位。夏衍故居被命名为杭州市爱国主义教育基地。故居原名八咏堂，为五开间七进深院落，为夏衍诞生至青少年时代的活动地，现经扩建，占地一千两百平方米，建筑面积为六百平方米，采用院落式和江南民居式样。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u229" class="ax_default image1">
              <img id="u229_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u229.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u230" class="ax_default image1">
              <img id="u230_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u230.jpg"/>
            </div>
          </div>
        </div>
        <div id="u171_state15" class="panel_state" data-label="State16" style="visibility: hidden;">
          <div id="u171_state15_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u231" class="ax_default image1">
              <img id="u231_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u231.jpg"/>
              <div id="u231_text" class="text ">
                <p><span>v</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u232" class="ax_default image1">
              <img id="u232_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u232.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u233" class="ax_default label">
              <div id="u233_div" class=""></div>
              <div id="u233_text" class="text ">
                <p><span>最老古树——桐庐罗汉松</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state16" class="panel_state" data-label="State17" style="visibility: hidden;">
          <div id="u171_state16_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u234" class="ax_default image1">
              <img id="u234_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u234.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u235" class="ax_default image1">
              <img id="u235_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u235.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u236" class="ax_default label">
              <div id="u236_div" class=""></div>
              <div id="u236_text" class="text ">
                <p><span>最美古树群——富阳银杏</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u171_state17" class="panel_state" data-label="State18" style="visibility: hidden;">
          <div id="u171_state17_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u237" class="ax_default image1">
              <img id="u237_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u237.jpg"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u238" class="ax_default image1">
              <img id="u238_img" class="img " src="__PUBLIC__/static/index/images/古树古建筑/u238.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u239" class="ax_default label">
              <div id="u239_div" class=""></div>
              <div id="u239_text" class="text ">
                <p><span>最神奇古树——西湖风景区吴山油麻藤</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (导航栏) -->

      <!-- Unnamed (矩形) -->
      <div id="u241" class="ax_default box_2">
        <div id="u241_div" class=""></div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u242" class="ax_default label">
        <div id="u242_div" class=""></div>
        <div id="u242_text" class="text ">
          <p><span><a href="{:url('index/index/folk_customs')}">民俗风情</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u243" class="ax_default label">
        <div id="u243_div" class=""></div>
        <div id="u243_text" class="text ">
          <p><span><a href="{:url('index/index/ancient_tree_architecture')}">古树古建筑</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u244" class="ax_default label">
        <div id="u244_div" class=""></div>
        <div id="u244_text" class="text ">
          <p><span><a href="{:url('forum/forum/index')}">民间传说故事</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u245" class="ax_default label">
        <div id="u245_div" class=""></div>
        <div id="u245_text" class="text ">
          <p><span><a href="{:url('index/index/biography')}">名人传记</a></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u246" class="ax_default image1">
        <a href="{:url('index/index/index')}"><img id="u246_img" class="img " src="__PUBLIC__/static/index/images/首页/u29.png"/></a>
      </div>
    </div>
  </body>
</html>
