<!DOCTYPE html>
<html>
  <head>
    <title>名人传记</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/static/index/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/files/名人传记/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePre.js"></script>
    <script src="__PUBLIC__/static/index/data/document.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePost.js"></script>
    <script src="__PUBLIC__/static/index/files/名人传记/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '__PUBLIC__/static/index/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '__PUBLIC__/static/index/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '__PUBLIC__/static/index/resources/reload.html'; };
    </script>
    <style>a{ text-decoration:none}</style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u259" class="ax_default box_3">
        <div id="u259_div" class=""></div>
      </div>

      <!-- 11 (动态面板) -->
      <div id="u260" class="ax_default" data-label="11">
        <div id="u260_state0" class="panel_state" data-label="State1" style="">
          <div id="u260_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u261" class="ax_default image1">
              <img id="u261_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u261.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <!-- 1 (图片) -->
      <div id="u262" class="ax_default image1" data-label="1">
        <img id="u262_img" class="img " src="__PUBLIC__/static/index/images/名人传记/1_u262.jpg"/>
      </div>

      <!-- 22 (动态面板) -->
      <div id="u263" class="ax_default" data-label="22">
        <div id="u263_state0" class="panel_state" data-label="State1" style="">
          <div id="u263_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u264" class="ax_default image1">
              <img id="u264_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u264.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <!-- 2 (图片) -->
      <div id="u265" class="ax_default image1" data-label="2">
        <img id="u265_img" class="img " src="__PUBLIC__/static/index/images/名人传记/2_u265.jpg"/>
      </div>

      <!-- 33 (动态面板) -->
      <div id="u266" class="ax_default" data-label="33">
        <div id="u266_state0" class="panel_state" data-label="State1" style="">
          <div id="u266_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u267" class="ax_default image1">
              <img id="u267_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u267.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <!-- 3 (图片) -->
      <div id="u268" class="ax_default image1" data-label="3">
        <img id="u268_img" class="img " src="__PUBLIC__/static/index/images/名人传记/3_u268.jpg"/>
      </div>

      <!-- 4 (动态面板) -->
      <div id="u269" class="ax_default" data-label="4">
        <div id="u269_state0" class="panel_state" data-label="State1" style="">
          <div id="u269_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u270" class="ax_default image1">
              <img id="u270_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u270.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u271" class="ax_default _文本段落">
              <div id="u271_div" class=""></div>
              <div id="u271_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 年少成名</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 贺知章早年迁居越州山阴（今浙江绍兴）。少时即以诗文知名。唐武后证圣元年（695年）中进士、状元，是浙江历史上第一位有资料记载的状元。 </span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 官宦之路</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 贺知章中状元后，初授国子四门博士，后迁太常博士。开元十年（722年），由丽正殿修书使张说推荐入该殿书院，参与撰修《六典》《文纂》等书，未成，转官太常少卿。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 开元十三年（725年）为礼部侍郎、集贤院学士。后调任太子右庶子、侍读、工部侍郎。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 开元二十六年（738年）改官太子宾客、银青光禄大夫兼正授秘书监，因而人称“贺监”。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u272" class="ax_default _文本段落">
              <div id="u272_div" class=""></div>
              <div id="u272_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; 晚年生活</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp;&nbsp; 天宝三年（744年），因病恍惚，上疏请度为道士，求还乡里，舍本乡家宅为道观，求周宫湖数顷为放生池。皇帝诏令准许，赐鉴湖一曲。唐玄宗以御制诗赠之，皇太子率百官饯行。回山阴五云门外“道士庄”，住“千秋观”，建“一曲亭”自娱，繁纸不过数十字。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp;&nbsp; 其间，写下《回乡偶书二首》，为人传诵而脍炙人口，未几病逝，年八十六。乾元元年（758年）唐肃宗以侍读之归，追赠礼部尚书。</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u273" class="ax_default image1">
              <img id="u273_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u273.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u274" class="ax_default _文本段落">
              <div id="u274_div" class=""></div>
              <div id="u274_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 贺知章作为唐朝前期的一位重要诗人，其诗作对唐诗的健康发展具有一定的导引作用，对盛唐诗歌创作实践也具有示范意义，并对盛唐诗歌的繁荣产生了“一花引来万花开”的巨大效应，为唐诗的发展与繁荣做出了卓越的贡献。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 贺知章诗歌以绝句见长，除祭神乐章、应制诗外，其写景、抒怀之作风格独特，从容不迫，淡而有味。其诗最大的成功之处，在于反映和表现 了社会生活中最本质的东西，即人情人性，写出了人类所共 有且具有特定指向的一种情感，如《回乡偶书二首》。贺知章继承和发扬了陈子昂标举“魏晋风骨”、追求“比兴寄托”和 高扬“人情人性”的精神，对由初唐李峤所倡导、躬行的咏物诗范式实即樊篱予以大胆的突破，写出了脍炙人口的不朽诗篇《咏柳》。由于生逢盛世、仕途顺利的人生际遇和旷达洒脱的个性，贺知章在诗歌中没有愤世嫉俗，身世悲凉的哀 叹，即使有惆怅，基调也是乐观豁达的，风格气度雍容，清新潇洒。贺知章的诗歌感情自然、逼真，语言朴实无华，毫不雕琢，源于生活，发于心底，意境深远。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u269_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u269_state1_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u275" class="ax_default image1">
              <img id="u275_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u275.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u276" class="ax_default _文本段落">
              <div id="u276_div" class=""></div>
              <div id="u276_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; 两弹一星</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp;&nbsp; 1956年初，钱学森向中共中央、国务院提出《建立我国国防航空工业的意见书》。同时，钱学森组建中国第一个火箭、导弹研究所——国防部第五研究院并担任首任院长。他主持完成了“喷气和火箭技术的建立”规划，参与了近程导弹、中近程导弹和中国第一颗人造地球卫星的研制，直接领导了用中近程导弹运载原子弹“两弹结合”试验，参与制定了中国近程导弹运载原子弹“两弹结合”试验，参与制定了中国第一个星际航空的发展规划，发展建立了工程控制论和系统学等。在钱学森的努力带领下，1964年10月16日中国第一颗原子弹爆炸成功，1967年6月17日中国第一颗氢弹空爆试验成功，1970年4月24日中国第一颗人造卫星发射成功。 </span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u277" class="ax_default _文本段落">
              <div id="u277_div" class=""></div>
              <div id="u277_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; 钱学森在20世纪40年代就已经成为航空航天领域内最为杰出的代表人物之一，成为二十世纪众多学科领域的科学群星中极少数的巨星之一；钱学森也是为新中国的成长做出无可估量贡献的老一辈科学家团体之中，影响最大、功勋最为卓著的杰出代表人物，是新中国爱国留学归国人员中最具代表性的国家建设者，是新中国历史上伟大的人民科学家。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp;&nbsp; 钱学森一生默默治学，但无论在什么时代，什么地方，他所选择的，既是一个科学家的最高职责，也是一个炎黄子孙的最高使命。他一生的经历和成就，在中国的国家史、华人的民族史和人类的世界史上，同时留下了耀眼的光芒，照亮了来路。作为中国航天事业的先行人，他不仅是知识的宝藏、科学的旗帜，而且是民族的脊梁、全球华人的典范，他向世界展示了华人的风采。 </span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u278" class="ax_default image1">
              <img id="u278_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u278.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u279" class="ax_default _文本段落">
              <div id="u279_div" class=""></div>
              <div id="u279_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 钱学森（1911.12.11－2009.10.31），汉族，吴越王钱镠第33世孙，生于上海，祖籍浙江省杭州市临安。世界著名科学家，空气动力学家，中国载人航天奠基人，中国科学院及中国工程院院士，中国两弹一星功勋奖章获得者，被誉为“中国航天之父”“中国导弹之父”“中国自动化控制之父”和“火箭之王”，由于钱学森回国效力，中国导弹、原子弹的发射向前推进了至少20年。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u269_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u269_state2_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u280" class="ax_default image1">
              <img id="u280_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u280.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u281" class="ax_default _文本段落">
              <div id="u281_div" class=""></div>
              <div id="u281_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; 马云 （阿里巴巴集团创始人）</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp;&nbsp; 马云，男，汉族，中共党员&nbsp; ，1964年9月10日生于浙江省杭州市，祖籍浙江省嵊州市谷来镇， 阿里巴巴集团主要创始人，现担任阿里巴巴集团董事局主席、日本软银董事、大自然保护协会中国理事会主席兼全球董事会成员、华谊兄弟董事、生命科学突破奖基金会董事、联合国数字合作高级别小组联合主席。 </span></p><p><span><br></span></p><p><span>&nbsp;&nbsp;&nbsp; 1988年毕业于杭州师范学院外语系，同年担任杭州电子工业学院英文及国际贸易教师，1995年创办中国第一家互联网商业信息发布网站“中国黄页”，1998年出任中国国际电子商务中心国富通信息技术发展有限公司总经理，1999年创办阿里巴巴，并担任阿里集团CEO、董事局主席。</span></p><p><span>2013年5月10日，辞任阿里巴巴集团CEO，继续担任阿里集团董事局主席。&nbsp;&nbsp; 6月30日，马云当选全球互联网治理联盟理事会联合主席。</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u282" class="ax_default _文本段落">
              <div id="u282_div" class=""></div>
              <div id="u282_text" class="text ">
                <p><span>&nbsp;&nbsp;&nbsp; 2017年12月15日，荣获“影响中国”2017年度教育人物 。2018年9月10日，马云发出公开信宣布将于2019年9月10日卸任集团董事局主席，由CEO张勇接任。 2018年12月18日，党中央、国务院授予马云同志改革先锋称号，颁授改革先锋奖章。&nbsp; 2019年3月，马云以373亿美元财富排名2019年福布斯全球亿万富豪榜第21位。&nbsp;&nbsp; 2019年5月10日，马云等17位全球杰出人士被联合国秘书长古特雷斯任命为新一届可持续发展目标倡导者。 </span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u283" class="ax_default image1">
              <img id="u283_img" class="img " src="__PUBLIC__/static/index/images/名人传记/u283.jpg"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u284" class="ax_default _文本段落">
              <div id="u284_div" class=""></div>
              <div id="u284_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 国人评价马云多是觉得他是一个神话般的人物，是中国的骄傲。而外媒评价马云，则是觉得他是一个像沃伦·巴菲特一样智慧的人。</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 马云是一个有理想的人，拥有一个不屈的灵魂。（温家宝总理评） </span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 看到大陆的年轻人这么棒我感到非常开心。（李嘉诚评） </span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 马云是一个非常优秀的CEO，是中国互联网的一个传奇。（郎咸平评价）</span></p><p><span><br></span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; 深凹的颧骨，扭曲的头发，淘气地露齿而笑，拥有一副5英尺（1.53米）、100磅（45千克）的顽童模样，这个长相怪异的人有着拿破仑一样的身材，同时也有着拿破仑一样伟大的志向。（《福布斯》杂志评） </span></p><p><span>&nbsp;</span></p><p><span>&nbsp;&nbsp; &nbsp;&nbsp; 马云像中国的沃伦·巴菲特。（英国《泰晤士报》评价） </span></p><p><span>面对阿里巴巴上市，新华社称赞了投资者对中国这家本土企业及其创建人赋予的信任，并称之为“中国奇迹”。（新华社评价）</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u285" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <div id="u285_state0" class="panel_state" data-label="State1" style="">
          <div id="u285_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u286" class="ax_default image1">
              <img id="u286_img" class="img " src="__PUBLIC__/static/index/images/首页/u20.png"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (导航栏) -->

      <!-- Unnamed (矩形) -->
      <div id="u288" class="ax_default box_2">
        <div id="u288_div" class=""></div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u289" class="ax_default label">
        <div id="u289_div" class=""></div>
        <div id="u289_text" class="text ">
          <p><span><a href="{:url('index/index/folk_customs')}">民俗风情</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u290" class="ax_default label">
        <div id="u290_div" class=""></div>
        <div id="u290_text" class="text ">
          <p><span><a href="{:url('index/index/ancient_tree_architecture')}">古树古建筑</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u291" class="ax_default label">
        <div id="u291_div" class=""></div>
        <div id="u291_text" class="text ">
          <p><span><a href="{:url('forum/forum/index')}">民间传说故事</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u292" class="ax_default label">
        <div id="u292_div" class=""></div>
        <div id="u292_text" class="text ">
          <p><span><a href="{:url('index/index/biography')}">名人传记</a></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u293" class="ax_default image1">
        <a href="{:url('index/index/index')}"><img id="u293_img" class="img " src="__PUBLIC__/static/index/images/首页/u29.png"/></a>
      </div>
    </div>
  </body>
</html>
