<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/static/index/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/files/首页/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePre.js"></script>
    <script src="__PUBLIC__/static/index/data/document.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePost.js"></script>
    <script src="__PUBLIC__/static/index/files/首页/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '__PUBLIC__/static/index/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '__PUBLIC__/static/index/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '__PUBLIC__/static/index/resources/reload.html'; };
    </script>
    <style>a{ text-decoration:none}</style>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (动态面板) -->
      <div id="u0" class="ax_default">
        <div id="u0_state0" class="panel_state" data-label="State1" style="">
          <div id="u0_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1" class="ax_default image1">
              <img id="u1_img" class="img " src="__PUBLIC__/static/index/images/首页/u1.jpg"/>
            </div>
          </div>
        </div>
        <div id="u0_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u0_state1_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u2" class="ax_default image1">
              <img id="u2_img" class="img " src="__PUBLIC__/static/index/images/首页/u2.jpg"/>
            </div>
          </div>
        </div>
        <div id="u0_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u0_state2_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u3" class="ax_default image1">
              <img id="u3_img" class="img " src="__PUBLIC__/static/index/images/首页/u3.jpg"/>
            </div>
          </div>
        </div>
        <div id="u0_state3" class="panel_state" data-label="State4" style="visibility: hidden;">
          <div id="u0_state3_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u4" class="ax_default image1">
              <img id="u4_img" class="img " src="__PUBLIC__/static/index/images/首页/u4.jpg"/>
            </div>
          </div>
        </div>
      </div>

      <!-- 1 (矩形) -->
      <div id="u5" class="ax_default box_3" data-label="1">
        <div id="u5_div" class=""></div>
      </div>

      <!-- 2 (矩形) -->
      <div id="u6" class="ax_default box_3" data-label="2">
        <div id="u6_div" class=""></div>
      </div>

      <!-- 3 (矩形) -->
      <div id="u7" class="ax_default box_3" data-label="3">
        <div id="u7_div" class=""></div>
      </div>

      <!-- 4 (矩形) -->
      <div id="u8" class="ax_default box_3" data-label="4">
        <div id="u8_div" class=""></div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u9" class="ax_default image1">
        <img id="u9_img" class="img " src="__PUBLIC__/static/index/images/首页/u9.png"/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u10" class="ax_default image1">
        <img id="u10_img" class="img " src="__PUBLIC__/static/index/images/首页/u9.png"/>
      </div>

      <!-- 1 (图片) -->
      <div id="u11" class="ax_default image1" data-label="1">
        <img id="u11_img" class="img " src="__PUBLIC__/static/index/images/首页/1_u11.jpg"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12" class="ax_default _一级标题">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>杭州是一个记载着美好传说 承载着美好风景的古老城市</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13" class="ax_default _一级标题">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>上有天堂&nbsp; 下有苏杭</span></p>
        </div>
      </div>

      <!-- 1 粉色竖线分隔 -->
      <div id="u14" class="ax_default box_1" data-label="1">
        <img id="u14_img" class="img " src="__PUBLIC__/static/index/images/首页/1_u14.png"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15" class="ax_default _一级标题">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 第一次被称为杭州的时候是在隋朝，开皇九年。废了钱唐县，改为了杭州。那个时候的杭州范围主要在凤凰山河吴山那块。而“西湖”第一次作为湖名出现是因为白居易的诗，“欲将此意凭回棹，报于西湖风雨月”。</span></p><p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 后来，很多文人在游历西湖，被美丽的风景惊叹后，纷纷写诗作词。“西湖”这个名字就被人们传送起来。而西湖最早是因为当时，每到春天的时候钱塘江的水就会泛滥冲毁农田和城市。为了防洪水，就出现了西湖，西湖成为了杭州百姓救命的水源。</span></p>
        </div>
      </div>

      <!-- 2 粉色竖线分隔 -->
      <div id="u16" class="ax_default box_1" data-label="2">
        <img id="u16_img" class="img " src="__PUBLIC__/static/index/images/首页/2_u16.png"/>
      </div>

      <!-- 2 (图片) -->
      <div id="u17" class="ax_default image1" data-label="2">
        <img id="u17_img" class="img " src="__PUBLIC__/static/index/images/首页/2_u17.jpg"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u18" class="ax_default _一级标题">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 《杭州市城市总体规划（2001-2020年）》2007年经国务院批复同意，有效地发挥了对城市发展的调控和引导作用。为了进一步强化杭州作为长三角南翼中心城市的功能，优化城市空间布局，加强区域统筹和城乡一体化发展，提升城市基础设施建设水平，增强保障民生的能力，杭州市按照“一张蓝图绘到底”的要求，认真总结现行总规实施情况，落实国家新型城镇化战略和长三角转型发展对杭州的新要求，实现浙江省委省政府要求杭州“干在实处、走在前列”的目标，充分发挥城市总体规划对新时期社会经济发展和城市建设的指导作用。</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u19" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <div id="u19_state0" class="panel_state" data-label="State1" style="">
          <div id="u19_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u20" class="ax_default image1">
              <img id="u20_img" class="img " src="__PUBLIC__/static/index/images/首页/u20.png"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u21" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u22" class="ax_default">
      </div>

      <!-- Unnamed (导航栏) -->

      <!-- Unnamed (矩形) -->
      <div id="u24" class="ax_default box_2">
        <div id="u24_div" class=""></div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u25" class="ax_default label">
        <div id="u25_div" class=""></div>
        <div id="u25_text" class="text ">
          <p><span><a href="{:url('index/index/folk_customs')}">民俗风情</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u26" class="ax_default label">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text ">
          <p><span><a href="{:url('index/index/ancient_tree_architecture')}">古树古建筑</a></span></p>
        </div>
      </div>


      <!-- Unnamed (矩形) -->
      <div id="u27" class="ax_default label">
        <div id="u27_div" class=""></div>
        <div id="u27_text" class="text ">
          <p><span><a href="{:url('forum/forum/index')}">民间传说故事</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u28" class="ax_default label">
        <div id="u28_div" class=""></div>
        <div id="u28_text" class="text ">
          <p><span><a href="{:url('index/index/biography')}">名人传记</a></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u29" class="ax_default image1">
        <a href="{:url('index/index/index')}"><img id="u29_img" class="img " src="__PUBLIC__/static/index/images/首页/u29.png"/></a>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u30" class="ax_default image1">
        <img id="u30_img" class="img " src="__PUBLIC__/static/index/images/首页/u30.png"/>
      </div>
    </div>
  </body>
</html>
