
<!DOCTYPE html>
<html>
<head>
    <title>民间传说故事</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/static/index/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/files/民间传说故事/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePre.js"></script>
    <script src="__PUBLIC__/static/index/data/document.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePost.js"></script>
    <script src="__PUBLIC__/static/index/files/民间传说故事/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '__PUBLIC__/static/index/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '__PUBLIC__/static/index/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '__PUBLIC__/static/index/resources/reload.html'; };
    </script>
    <meta charset="utf-8">
    <title>问题详情</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description"
          content="">
    <link rel="stylesheet" href="__PUBLIC__/static/forum/res/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/static/forum/res/css/global.css">
    <script src="__PUBLIC__/static/forum/res/layui/layui.js"></script>
    <script src="__PUBLIC__/static/forum/js/jquery.js"></script>
    <style type="text/css" rel="stylesheet">
        form {
            margin: 0;
        }

        .editor {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body>
<div id="base" class="">

    <!-- Unnamed (导航栏) -->

    <!-- Unnamed (矩形) -->
    <div id="u248" class="ax_default box_2">
        <div id="u248_div" class=""></div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u249" class="ax_default label">
        <div id="u249_div" class=""></div>
        <div id="u249_text" class="text ">
            <p><span><a href="{:url('index/index/folk_customs')}">民俗风情</a></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u250" class="ax_default label">
        <div id="u250_div" class=""></div>
        <div id="u250_text" class="text ">
            <p><span><a href="{:url('index/index/ancient_tree_architecture')}">古树古建筑</a></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u251" class="ax_default label">
        <div id="u251_div" class=""></div>
        <div id="u251_text" class="text ">
            <p><span><a href="{:url('forum/forum/index')}">民间传说故事</a></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u252" class="ax_default label">
        <div id="u252_div" class=""></div>
        <div id="u252_text" class="text ">
            <p><span><a href="{:url('index/index/biography')}">名人传记</a></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u253" class="ax_default image1">
        <a href="{:url('index/index/index')}"><img id="u253_img" class="img " src="__PUBLIC__/static/index/images/首页/u29.png"/></a>
    </div>
    <!-- 小人头 -->
    {if $Think.session.user_name==''}
    <div id="u254" class="ax_default image1">
        <img id="u254_img" class="img " src="__PUBLIC__/static/index/images/民间传说故事/u254.png"/>
    </div>
    {else}
    <div id="u254" class="ax_default image1">
        <a href="{:url('forum/forum/personal_center')}"><img id="u254_img" class="img " src="__PUBLIC__/static/index/images/民间传说故事/u254.png"/></a>
    </div>
    {/if}
    {if $Think.session.user_name!=''}
    <!-- Unnamed (矩形) -->
    <div id="u255" class="ax_default label">
        <div id="u255_div" class=""></div>
        <div id="u255_text" class="text ">
            <p><span>{$Think.session.user_name}</span></p>
        </div>
    </div>
    {else}
    <div id="u255" class="ax_default label">
        <div id="u255_div" class=""></div>
        <div id="u255_text" class="text ">
            <p><span>请登录</span></p>
        </div>
    </div>
    {/if}

    {if $Think.session.user_name==''}
    <!-- Unnamed (矩形) -->
    <div id="u256" class="ax_default label">
        <div id="u256_div" class=""></div>
        <div id="u256_text" class="text ">
            <a href="{:url('forum/forum/login')}"><p><span>登录</span></p></a>
        </div>
    </div>
    <!-- Unnamed (矩形) -->
    <div id="u258" class="ax_default label">
        <div id="u258_div" class=""></div>
        <div id="u258_text" class="text ">
            <a href="{:url('forum/forum/register')}"><p><span>注册</span></p></a>
        </div>
    </div>
</div>
{else}
<div id="u256" class="ax_default label">
    <div id="u256_div" class=""></div>
    <div id="u256_text" class="text ">
        <a href="{:url('forum/forum/logout')}"><p><span>退出</span></p></a>
    </div>
</div>
<div id="u258" class="ax_default label">
    <div id="u258_div" class=""></div>
    <div id="u258_text" class="text ">
    </div>
</div>
</div>
{/if}
<br /><br /><br /><br />
<!--<iframe  src="__PUBLIC__/static/forum/head.html" scrolling="no" width="100%" height="65px" ></iframe>-->
<div class="main layui-clear">
    <div class="wrap">
        <div class="content" style="margin-right:0">
            <div class="fly-tab">
                <!--
<span>
  <a href="" class="tab-this">全部</a>
  <a href="">未结帖</a>
  <a href="">已采纳</a>
  <a href="">置顶帖</a>
  <a href="../user/index.html">我的帖</a>
</span>
-->
            </div>
            {load href="__PUBLIC__/static/admin/css/bootstrap_page.css" /}
            {load href="__PUBLIC__/static/admin/js/bootstrap.js" /}
<div class="main layui-clear">
    <div class="wrap">
        <div class="content detail">
            <div class="fly-panel detail-box">
                <h1>{$info.title}</h1>
                <div class="fly-tip fly-detail-hint" data-id="">
                    <span class="fly-tip-stick">置顶帖</span><span class="jie-admin"> <a
                        href="">点击置顶</a> </span> <span
                        class="layui-btn layui-btn-mini jie-admin"> <a href="">取消置顶</a>
						</span> <span class="jie-admin" type="del" style="margin-left: 20px;">
							<a>删除该帖</a> </span>
                    </span>
                    <div class="fly-list-hint">
                        <i class="iconfont" title="回答">&#xe60c;</i> <?php echo $count ?>
                    </div>
                </div>
                <div class="detail-about">
                    <a class="jie-user" href=""> <img
                            src="<?php echo '__PUBLIC__' ?>{$info.user_pic}" alt="头像"> <cite> {$info.user_name}
                        <em>{$info.date}</em> </cite> </a>
                </div>
                <div class="detail-body photos" style="margin-bottom: 20px;">
                    <p>{$info.article}</p>
                </div>
            </div>
            {load href="__PUBLIC__/static/admin/css/bootstrap_page.css" /}
            {load href="__PUBLIC__/static/admin/js/bootstrap.js" /}
            <div class="fly-panel detail-box" style="padding-top: 0;">
                <a name="comment"></a>
                <ul class="jieda photos" id="jieda">
                    {volist name='list' id='vo'}
                    <li data-id="12" class="jieda-daan"><a
                            name="item-121212121212"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="jie-user" href=""> <img
                                    src="<?php echo '__PUBLIC__' ?>{$vo.user_pic}" alt=""> <cite> <i>{$vo.user_name}</i>
                                <!-- <em>(楼主)</em>
          <em style="color:#5FB878">(管理员)</em> --> </cite> </a>
                            <div class="detail-hits">
                                <span>{$vo.date}</span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body">
                            <p>{$vo.information}</p>
                        </div>
                        </li>
                    <!-- <li class="fly-none">没有任何回答</li> -->
                    {/volist}
                </ul>
                <div align="right">{$page}</div>
                <span
                        id="toName">@ {$info.user_name}</span>
                <div class="layui-form layui-form-pane">
                    <form action="{:url('forum/forum/discuss')}" method="post">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
										<textarea id="L_content" name="dis" required
                                                  lay-verify="required" placeholder="我要回答"
                                                  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="*" lay-submit>提交回答</button>
                        </div>
                        <input type="hidden" id="log_id" name="log_id" value="{$info.id}">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="edge">
        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title">最近热帖</dt>
            <dd>
                <a href="">使用 layui 秒搭后台大布局（基本结构）</a> <span><i
                    class="iconfont">&#xe60b;</i> 6087</span>
            </dd>
            <dd>
                <a href="">Java实现LayIM后端的核心代码</a> <span><i class="iconfont">&#xe60b;</i>
						767</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局（基本结构）</a> <span><i
                    class="iconfont">&#xe60b;</i> 6087</span>
            </dd>
            <dd>
                <a href="">Java实现LayIM后端的核心代码</a> <span><i class="iconfont">&#xe60b;</i>
						767</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局（基本结构）</a> <span><i
                    class="iconfont">&#xe60b;</i> 6087</span>
            </dd>
            <dd>
                <a href="">Java实现LayIM后端的核心代码</a> <span><i class="iconfont">&#xe60b;</i>
						767</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局（基本结构）</a> <span><i
                    class="iconfont">&#xe60b;</i> 6087</span>
            </dd>
            <dd>
                <a href="">Java实现LayIM后端的核心代码</a> <span><i class="iconfont">&#xe60b;</i>
						767</span>
            </dd>
        </dl>

        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title">近期热议</dt>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
            <dd>
                <a href="">使用 layui 秒搭后台大布局之基本结构</a> <span><i
                    class="iconfont">&#xe60c;</i> 96</span>
            </dd>
        </dl>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="res/js/kindeditor.js"></script>
<script type="text/javascript">
    KE.show({
        id : 'L_content',
        resizeMode : 1,
        items : [
            'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
            'removeformat', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            'insertunorderedlist', 'emoticons', 'image', 'link']
    });
</script>
</body>
</html>