<!DOCTYPE html>
<html>
<head>
    <title>个人主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/static/index/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/static/index/files/个人主页/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePre.js"></script>
    <script src="__PUBLIC__/static/index/data/document.js"></script>
    <script src="__PUBLIC__/static/index/resources/scripts/prototypePost.js"></script>
    <script src="__PUBLIC__/static/index/files/个人主页/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };

    </script>

    <script>
        function uploadImg(file,imgNum){
            var widthImg = 200; //显示图片的width
            var heightImg = 200; //显示图片的height
            var div = document.getElementById(imgNum);
            if (file.files && file.files[0]){
                div.innerHTML ='<img id="upImg">'; //生成图片
                var img = document.getElementById('upImg'); //获得用户上传的图片节点
                img.onload = function(){
                    img.width = widthImg;
                    img.height = heightImg;
                }
                var reader = new FileReader(); //判断图片是否加载完毕
                reader.onload = function(evt){
                    if(reader.readyState === 2){ //加载完毕后赋值
                        img.src = evt.target.result;
                    }
                }
                reader.readAsDataURL(file.files[0]);
            }
        }
    </script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (组 合) -->
    <div id="u301" class="ax_default" data-left="0" data-top="0" data-width="1440" data-height="1038">

        <!-- Unnamed (组 合) -->
        <div id="u302" class="ax_default" data-left="0" data-top="0" data-width="1440" data-height="1038">

            <!-- Unnamed (矩形) -->
            <div id="u303" class="ax_default shape">
                <div id="u303_div" class=""></div>
                <div id="u303_text" class="text ">
                    <p><span>`</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u304" class="ax_default box_1">
                <div id="u304_div" class=""></div>
            </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u305" class="ax_default" data-left="0" data-top="0" data-width="1440" data-height="516">

            <!-- Unnamed (组 合) -->
            <div id="u306" class="ax_default" data-left="0" data-top="0" data-width="256" data-height="516">

                <!-- Unnamed (矩形) -->
                <div id="u307" class="ax_default box_1">
                    <div id="u307_div" class=""></div>
                    <div id="u307_text" class="text ">
                        <p><span>z</span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u308" class="ax_default image">
                    <img id="u308_img" class="img " src="__PUBLIC__/static/index/images/个人主页/u308.png"/>
                </div>

                <!-- Unnamed (组 合) -->
                <div id="u309" class="ax_default" data-left="0" data-top="65" data-width="256" data-height="451">

                    <!-- Unnamed (矩形) -->
                    <div id="u314" class="ax_default box_2">
                        <div id="u314_div" class=""></div>
                        <div id="u314_text" class="text ">
                            <a href="{:url('forum/forum/personal_center')}"><p><span>基本信息</span></p></a>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u319" class="ax_default box_2">
                        <div id="u319_div" class=""></div>
                        <div id="u319_text" class="text ">
                            <a href="{:url('forum/forum/change_password')}"><p><span>修改密码</span></p></a>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u320" class="ax_default box_2">
                        <div id="u320_div" class=""></div>
                        <div id="u320_text" class="text ">
                            <a href="{:url('forum/forum/log_management')}"><p><span>我的帖子</span></p></a>
                        </div>
                    </div>



            <!-- Unnamed (组 合) -->
            <div id="u337" class="ax_default" data-left="256" data-top="0" data-width="1184" data-height="64">

                <!-- Unnamed (矩形) -->
                <div id="u338" class="ax_default box_2">
                    <div id="u338_div" class=""></div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u339" class="ax_default image">
                    <img id="u339_img" class="img " src="__PUBLIC__/static/index/images/个人主页/u339.png"/>
                </div>

                <!-- Unnamed (组 合) -->
                <div id="u340" class="ax_default" data-left="1317" data-top="21" data-width="94" data-height="24">

                    <!-- Unnamed (图片) -->
                    <div id="u341" class="ax_default image">
                        <img id="u341_img" class="img " src="<?php echo '__PUBLIC__' ?>{$pc.thumb}"/>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u342" class="ax_default label">
                        <div id="u342_div" class=""></div>
                        <div id="u342_text" class="text ">
                            <p><span>{$pc.user_name}</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u343" class="ax_default image">
                    <img id="u343_img" class="img " src="__PUBLIC__/static/index/images/个人主页/u343.png"/>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u344" class="ax_default image">
                    <img id="u344_img" class="img " src="__PUBLIC__/static/index/images/个人主页/u344.png"/>
                </div>
            </div>
        </div>

        <!-- Unnamed (动态面板) -->
        <div id="u345" class="ax_default">
            <div id="u345_state0" class="panel_state" data-label="State1" style="">
                <div id="u345_state0_content" class="panel_state_content">
                </div>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u359" class="ax_default shape">
            <div id="u359_div" class=""></div>
        </div>

        <!-- Unnamed (动态面板) -->
        <div id="u360" class="ax_default">
            <div id="u360_state0" class="panel_state" data-label="State1" style="">
                <div id="u360_state0_content" class="panel_state_content">
                </div>
            </div>
        </div>

        <!-- Unnamed (动态面板) -->
        <div id="u361" class="ax_default">
            <div id="u361_state0" class="panel_state" data-label="State1" style="">
                <div id="u361_state0_content" class="panel_state_content">
                </div>
            </div>
        </div>

        <!-- Unnamed (动态面板) -->
        <div id="u362" class="ax_default">
            <div id="u362_state0" class="panel_state" data-label="State1" style="">
                <div id="u362_state0_content" class="panel_state_content">
                </div>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u363" class="ax_default heading_1">
            <div id="u363_div" class=""></div>
            <div id="u363_text" class="text ">
                <p><span>基本设置</span></p>
            </div>
        </div>
<form method="post" action="{:url('forum/forum/personal_center')}" enctype="multipart/form-data">
        <!-- Unnamed (组 合) -->
        <div id="u364" class="ax_default" data-left="316" data-top="166" data-width="448" data-height="94">

            <!-- Unnamed (矩形) -->
            <div id="u365" class="ax_default heading_1">
                <div id="u365_div" class=""></div>
                <div id="u365_text" class="text ">
                    <p><span>邮箱</span></p>
                </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u366" class="ax_default" data-left="316" data-top="196" data-width="448" data-height="32">
                <!-- Unnamed (矩形) -->
                <div id="u367" class="ax_default shape">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1" name="user_mail" value="{$pc.user_mail}">
                    </div>
                </div>
            </div>

        <!-- Unnamed (组 合) -->
        <div id="u369" class="ax_default" data-left="316" data-top="260" data-width="448" data-height="94">

            <!-- Unnamed (矩形) -->
            <div id="u370" class="ax_default heading_1">
                <div id="u370_div" class=""></div>
                <div id="u370_text" class="text ">
                    <p><span>性别</span></p>
                </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u371" class="ax_default" data-left="316" data-top="290" data-width="448" data-height="32">

                <!-- Unnamed (矩形) -->
                <div id="u372" class="ax_default shape">
                    <div class="form-group">
                        {if $pc.sex==1}
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="inlineRadio1" value="1" checked="checked"> 男
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="inlineRadio2" value="0"> 女
                        </label>
                        {else}
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="inlineRadio1" value="1"> 男
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="inlineRadio2" value="0" checked="checked"> 女
                        </label>
                        {/if}
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u374" class="ax_default" data-left="316" data-top="354" data-width="448" data-height="134">

            <!-- Unnamed (矩形) -->
            <div id="u375" class="ax_default heading_1">
                <div id="u375_div" class=""></div>
                <div id="u375_text" class="text ">
                    <p><span>个人简介</span></p>
                </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u377" class="ax_default" data-left="316" data-top="384" data-width="448" data-height="72">
                <!-- Unnamed (矩形) -->
                <div id="u378" class="ax_default shape">
                    <div id="u378_text" class="text ">
                        <textarea class="form-control" rows="3" id="sign" name="sign" >{$pc.sign}</textarea>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Unnamed (矩形) -->
        <div id="u413" class="ax_default shape">
            <div id="u413_text" class="text ">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" name="P_up">更新信息</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u414" class="ax_default" data-left="871" data-top="156" data-width="144" data-height="233">

            <!-- Unnamed (图片) -->
            <div id="u415" class="ax_default image">
                <div id="preview" class=""><img id="u415_img" class="img " src="<?php echo '__PUBLIC__' ?>{$pc.user_pic}"/></div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u417" class="ax_default" data-left="887" data-top="357" data-width="113" data-height="32">

                <!-- Unnamed (矩形) -->
                <div id="u418" class="ax_default shape">
                    <div id="u418_text" class="text ">
                        <br /><br /><br /><br /><br />
                        <input name="user_pic" onchange="uploadImg(this,'preview')" type="file"/>
                    </div>
                </div>

            </div>
        </div>
</form>
    </div>
</div>
</body>
</html>
