<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="__PUBLIC__/static/admin/pages/favicon.ico" >
    <link rel="Shortcut Icon" href="__PUBLIC__/static/admin/pages/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/html5.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>主页面 - 乡景</title>
    <!--<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">-->
    <!--<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">-->
</head>
<body>
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="">美丽杭州后台&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <!--<a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml">H-ui</a>-->
            <!--<span class="logo navbar-slogan f-l mr-10 hidden-xs">v3.0</span>-->
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li class="dropDown dropDown_hover">
                        {$Think.session.username}
                    <li>
                        <a href="{:url('admin/index/logout')}">退出</a>
                    </li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 主页面<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="首页">首页</a></li>
                    <li><a href="" title="名人传记">名人传记</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i>民俗风情<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('admin/custom/opera')}" title="戏曲">戏曲</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe613;</i>古树古建筑<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('admin/atreea/old_west_l')}" title="老西湖十景">老西湖十景</a></li>
                    <li><a href="{:url('admin/atreea/new_west_lake')}" title="新西湖十景">新西湖十景</a></li>
                    <li><a href="{:url('admin/atreea/former_residence')}" title="故居">故居</a></li>
                    <li><a href="{:url('admin/atreea/oldtrees')}" title="古树">古树</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe613;</i>民间传说故事<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('admin/folklorestories/user_management')}" title="用户管理">用户管理</a></li>
                    <li><a href="{:url('admin/folklorestories/user_log')}" title="文章管理">文章管理</a></li>
                    <li><a href="{:url('admin/folklorestories/discuss')}" title="评论管理">评论管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('admin/index/index')}">首页</a>
        <span class="c-gray en">&gt;</span>
        民间传说故事
        <span class="c-gray en">&gt;</span>
        用户管理
        <a style="text-decoration:none;line-height:1.6em;margin-top:3px" class="btn btn-success radius r" href="" title="清除"><i class="Hui-iconfont">&#xe6e2;清除浏览器缓存</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="r"><br />共有数据：<strong><?php echo $count ?></strong> 条</span>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
                    <p style="font-size: 16px">&nbsp;&nbsp;&nbsp;&nbsp;用户管理</p>
                    <!--<a class="btn btn-primary radius" data-title="添加数据" href="{:url('admin/main/sceneryadd')}"><i class="Hui-iconfont">&#xe600;</i> 新增</a>-->
				</span>

            </div>
            {load href="__PUBLIC__/static/admin/css/bootstrap_page.css" /}
            {load href="__PUBLIC__/static/admin/js/bootstrap.js" /}
            <div class="mt-20" align="right">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
                        <!--<th width="80">ID</th>-->
                        <th width="20%">用户名</th>
                        <th width="20%">性别</th>
                        <th width="20%">邮箱</th>
                        <th width="20%">个性签名</th>
                        <th width="20%">管理</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='list' id='user'}
                    <tr class="text-c">
                        <!--<td><input type="checkbox" value="" name=""></td>-->
                        <td>{$user.user_name}</td>
                        <td height="auto">{if $user.sex==1}男{else}女{/if}</td>
                        <td>{$user.user_mail}</td>
                        <td>{$user.sign}</td>
                        <!--<td>行业动态</td>-->
                        <!--<td>H-ui</td>-->
                        <!--<td>2014-6-11 11:11:42</td>-->
                        <!--<td>21212</td>-->
                        <!--<td class="td-status"><span class="label label-success radius">已发布</span></td>-->
                        <td class="f-14 td-manage"><!--<a style="text-decoration:none" onClick="article_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>-->
                            <a href="{:url('admin/folklorestories/user_ban',array('id'=>$user.id))}">{if $user.ban==0}禁用{else}解除禁用{/if}</a>
                            <a style="text-decoration:none" class="ml-5" href="{:url('admin/folklorestories/user_del',array('id'=>$user.id))}" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <!--<tr class="text-c">-->
                    <!--&lt;!&ndash;<td><input type="checkbox" value="" name=""></td>&ndash;&gt;-->
                    <!--<td>10002</td>-->
                    <!--<td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','article-zhang.html','10002')" title="查看">资讯标题</u></td>-->
                    <!--&lt;!&ndash;<td>行业动态</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>H-ui</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>2014-6-11 11:11:42</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>21212</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td class="td-status"><span class="label label-success radius">草稿</span></td>&ndash;&gt;-->
                    <!--<td class="f-14 td-manage">&lt;!&ndash;<a style="text-decoration:none" onClick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a>&ndash;&gt;-->
                    <!--<a style="text-decoration:none" class="ml-5" onClick="article_edit('编辑','opera_edit.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>-->
                    <!--<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>-->
                    <!--</tr>-->
                    {/volist}
                    </tbody>
                </table>
                {$page}
            </div>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/static/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/admin/lib/laypage/1.2/laypage.js"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>